
* {text-shadow: 1px 1px 2px midnightblue;}

p {
    color:palevioletred;

}

h1 {
    text-align: center;
    color: aqua;
    margin: 10px;
    padding: 60px;
    width: 500;
    text-shadow: 1px 1px 2px fuchsia, 
    2px 2px 30px rgb(162, 0, 255),
     3px 3px 25px aqua;

}

h2 {

    color :deeppink;
    
}


body {

    background-color: rgb(41, 13, 54);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 25px 50px;


}

.aesthetic {
   font-size: large;
    letter-spacing: 3px;

}

.meow {
    animation: mymove 5s infinite;
    
}

@keyframes mymove {
    50% {color: mistyrose;}
}


.starting.bio {
    border-style:double dashed;
    border-radius: 50px;
    border-color: darkturquoise;
    border-width: 7px;
    width: 300px;
    padding: 15px;
    margin: 76px;
    position:relative;
    right: -300px;
}


aside>h2 {color: rgb(115, 68, 160);}

aside {
    width: 300px;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: rgba(255, 126, 216, 0.644);
    border-radius: 25px;
    text-align: center;
    position:relative;
    top: -600px;
    left: -300px;
  }

div {border-radius: 15px;
    background-color:plum;
    display: inline-block;
    width: 800px;
    margin: 50px;
    padding: 15px;
    border: 10px dotted aqua;
    font-style: oblique;
    position: relative;
    left:800px;
    top:-400px;
}

.last {
    color: cornsilk;
    text-indent: 5px;

}

